<div id="features">
    <div class="wrapper">
         <ul>
             <li class="feature-1">
                 <h4>Easy to Edit</h4>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptatibus odit placeat. Officiis iusto perspiciatis expedita ipsa aspernatur accusantium sint id quibusdam sapiente, provident nostrum voluptates illo deleniti esse ratione!</p>
             </li>
             <li class="feature-2">
                 <h4>Layered PSD</h4>
                 <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque iure iusto inventore ipsam nulla culpa at perferendis aliquid, adipisci corrupti nihil, officia, laudantium architecto voluptate molestias ad. Blanditiis, et nihil!</p>
             </li>
             <li class="feature-3">
                 <h4>Ready to Go</h4>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam est pariatur atque ducimus? A, tenetur sint eaque aliquid deserunt, distinctio fuga et reprehenderit ex nulla enim quasi omnis perferendis officia!</p>
             </li>
             <div class="clear"></div>
         </ul>
    </div>
 </div>