<div id="secondary-content">
    <div class="wrapper">
        <article style="background-image: url('images/article-image-1.jpg');">
            <div class="overlay">
                <h4>Secondary Content</h4>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore saepe repellendus a ducimus cupiditate recusandae at necessitatibus accusantium molestias ipsam soluta quis voluptatem dicta praesentium, excepturi atque laudantium nemo vitae.</small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article>
        <article style="background-image: url('src/assets/images/article-image-2.jpg');">
            <div class="overlay">
                <h4>Secondary Content</h4>
                <p><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor velit, maxime, nulla quidem iste, aliquid tenetur maiores eveniet obcaecati nesciunt ea dolores quod. Iste, nam. Consectetur numquam vitae sunt atque?</small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article>
        <div class="clear"></div>
    </div> 
</div>